@model KLTN.Models.Database.ThongBao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ThongBao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaThongBao" />
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label"></label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayGui" class="control-label"></label>
                <input asp-for="NgayGui" class="form-control" />
                <span asp-validation-for="NgayGui" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTK" class="control-label">Tài khoản</label>
                <select asp-for="MaTK" class="form-control" asp-items="ViewBag.MaTK"></select>
                <span asp-validation-for="MaTK" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DaDoc" /> @Html.DisplayNameFor(model => model.DaDoc)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
