USE [master]
GO
/****** Object:  Database [QLPG_HANG]    Script Date: 12/08/2025 4:18:20 CH ******/
CREATE DATABASE [QLPG_HANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPG_HANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HANGPHAM\MSSQL\DATA\QLPG_HANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPG_HANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HANGPHAM\MSSQL\DATA\QLPG_HANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPG_HANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPG_HANG]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangLuongs]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuongs](
	[BangLuongId] [int] IDENTITY(1,1) NOT NULL,
	[HlvId] [int] NULL,
	[Thang] [nvarchar](7) NOT NULL,
	[LuongCoBan] [decimal](12, 2) NOT NULL,
	[TienHoaHong] [decimal](12, 2) NOT NULL,
	[NgayThanhToan] [date] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NULL,
 CONSTRAINT [PK_BangLuongs] PRIMARY KEY CLUSTERED 
(
	[BangLuongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[ThanhVienId] [int] NULL,
	[LopHocId] [int] NULL,
	[LichLopId] [int] NULL,
	[Ngay] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayDat] [date] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuoiHlvs]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuoiHlvs](
	[BuoiHlvId] [int] IDENTITY(1,1) NOT NULL,
	[HlvId] [int] NULL,
	[ThanhVienId] [int] NULL,
	[LopHocId] [int] NULL,
	[NgayTap] [date] NOT NULL,
	[ThoiLuongPhut] [int] NOT NULL,
	[GhiChu] [nvarchar](300) NULL,
 CONSTRAINT [PK_BuoiHlvs] PRIMARY KEY CLUSTERED 
(
	[BuoiHlvId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuoiTaps]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuoiTaps](
	[BuoiTapId] [int] IDENTITY(1,1) NOT NULL,
	[ThanhVienId] [int] NULL,
	[LopHocId] [int] NULL,
	[ThoiGianVao] [datetime2](7) NOT NULL,
	[ThoiGianRa] [datetime2](7) NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_BuoiTaps] PRIMARY KEY CLUSTERED 
(
	[BuoiTapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhHoaHongs]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhHoaHongs](
	[CauHinhHoaHongId] [int] IDENTITY(1,1) NOT NULL,
	[GoiTapId] [int] NULL,
	[PhanTramHoaHong] [decimal](5, 2) NOT NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CauHinhHoaHongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKys]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKys](
	[DangKyId] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[GoiTapId] [int] NULL,
	[LopHocId] [int] NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[LyDoHuy] [nvarchar](500) NULL,
	[PhiDangKy] [decimal](12, 2) NULL,
	[LoaiDangKy] [nvarchar](20) NULL,
	[TrangThaiChiTiet] [nvarchar](50) NULL,
 CONSTRAINT [PK_DangKys] PRIMARY KEY CLUSTERED 
(
	[DangKyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanhs]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanhs](
	[DiemDanhId] [int] IDENTITY(1,1) NOT NULL,
	[ThanhVienId] [int] NULL,
	[ThoiGian] [datetime2](7) NOT NULL,
	[KetQuaNhanDang] [bit] NULL,
	[AnhMinhChung] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[LichLopId] [int] NULL,
	[ThoiGianCheckIn] [datetime2](7) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[DoTinCay] [float] NULL,
	[LoaiCheckIn] [nvarchar](50) NULL,
	[ThoiGianCheckOut] [datetime2](7) NULL,
 CONSTRAINT [PK_DiemDanhs] PRIMARY KEY CLUSTERED 
(
	[DiemDanhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalLogins]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalLogins](
	[Id] [nvarchar](450) NOT NULL,
	[TaiKhoanId] [nvarchar](450) NOT NULL,
	[Provider] [nvarchar](100) NOT NULL,
	[ProviderKey] [nvarchar](200) NOT NULL,
	[ProviderDisplayName] [nvarchar](200) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ExternalLogins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiTaps]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTaps](
	[GoiTapId] [int] IDENTITY(1,1) NOT NULL,
	[TenGoi] [nvarchar](100) NOT NULL,
	[ThoiHanThang] [int] NOT NULL,
	[SoBuoiToiDa] [int] NULL,
	[Gia] [decimal](12, 2) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_GoiTaps] PRIMARY KEY CLUSTERED 
(
	[GoiTapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMais]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMais](
	[KhuyenMaiId] [int] IDENTITY(1,1) NOT NULL,
	[MaCode] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
	[PhanTramGiam] [int] NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[KichHoat] [bit] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_KhuyenMais] PRIMARY KEY CLUSTERED 
(
	[KhuyenMaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMaiUsages]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMaiUsages](
	[KhuyenMaiUsageId] [int] IDENTITY(1,1) NOT NULL,
	[KhuyenMaiId] [int] NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[ThanhToanId] [int] NULL,
	[DangKyId] [int] NULL,
	[SoTienGoc] [decimal](18, 2) NOT NULL,
	[SoTienGiam] [decimal](18, 2) NOT NULL,
	[SoTienCuoi] [decimal](18, 2) NOT NULL,
	[NgaySuDung] [datetime2](7) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_KhuyenMaiUsages] PRIMARY KEY CLUSTERED 
(
	[KhuyenMaiUsageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLops]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLops](
	[LichLopId] [int] IDENTITY(1,1) NOT NULL,
	[LopHocId] [int] NOT NULL,
	[Ngay] [date] NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[SoLuongDaDat] [int] NOT NULL,
 CONSTRAINT [PK_LichLops] PRIMARY KEY CLUSTERED 
(
	[LichLopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuAnhs]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuAnhs](
	[LichSuAnhId] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NULL,
	[AnhCu] [nvarchar](255) NULL,
	[AnhMoi] [nvarchar](255) NULL,
	[NgayCapNhat] [datetime2](7) NOT NULL,
	[LyDo] [nvarchar](200) NULL,
 CONSTRAINT [PK_LichSuAnhs] PRIMARY KEY CLUSTERED 
(
	[LichSuAnhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocs]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocs](
	[LopHocId] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[HlvId] [int] NULL,
	[SucChua] [int] NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[ThuTrongTuan] [nvarchar](50) NOT NULL,
	[GiaTuyChinh] [decimal](12, 2) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[ThoiLuong] [int] NULL,
	[NgayBatDauKhoa] [date] NULL,
	[NgayKetThucKhoa] [date] NULL,
	[LoaiDangKy] [nvarchar](20) NULL,
 CONSTRAINT [PK_LopHocs] PRIMARY KEY CLUSTERED 
(
	[LopHocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauMats]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauMats](
	[MauMatId] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[Embedding] [varbinary](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[ThuatToan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MauMats] PRIMARY KEY CLUSTERED 
(
	[MauMatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[NguoiDungId] [int] IDENTITY(1,1) NOT NULL,
	[LoaiNguoiDung] [nvarchar](20) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[NgayThamGia] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[NguoiDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Id] [nvarchar](450) NOT NULL,
	[TenDangNhap] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[MatKhauHash] [nvarchar](max) NOT NULL,
	[Salt] [nvarchar](max) NOT NULL,
	[NguoiDungId] [int] NULL,
	[KichHoat] [bit] NOT NULL,
	[EmailXacNhan] [bit] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[LanDangNhapCuoi] [datetime2](7) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanVaiTros]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanVaiTros](
	[Id] [nvarchar](450) NOT NULL,
	[TaiKhoanId] [nvarchar](450) NOT NULL,
	[VaiTroId] [nvarchar](450) NOT NULL,
	[NgayGan] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TaiKhoanVaiTros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTucs]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTucs](
	[TinTucId] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[MoTaNgan] [nvarchar](500) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[AnhDaiDien] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[NgayXuatBan] [datetime2](7) NULL,
	[TacGiaId] [int] NULL,
	[TenTacGia] [nvarchar](100) NULL,
	[LuotXem] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NoiBat] [bit] NOT NULL,
	[Slug] [nvarchar](200) NULL,
	[MetaTitle] [nvarchar](160) NULL,
	[MetaDescription] [nvarchar](160) NULL,
	[MetaKeywords] [nvarchar](500) NULL,
 CONSTRAINT [PK_TinTucs] PRIMARY KEY CLUSTERED 
(
	[TinTucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToanGateways]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToanGateways](
	[GatewayId] [int] IDENTITY(1,1) NOT NULL,
	[ThanhToanId] [int] NOT NULL,
	[GatewayTen] [nvarchar](30) NOT NULL,
	[GatewayTransId] [nvarchar](100) NULL,
	[GatewayOrderId] [nvarchar](100) NULL,
	[GatewayAmount] [decimal](12, 2) NULL,
	[GatewayRespCode] [nvarchar](10) NULL,
	[GatewayMessage] [nvarchar](255) NULL,
	[ThoiGianCallback] [datetime2](7) NULL,
 CONSTRAINT [PK_ThanhToanGateways] PRIMARY KEY CLUSTERED 
(
	[GatewayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToans]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToans](
	[ThanhToanId] [int] IDENTITY(1,1) NOT NULL,
	[DangKyId] [int] NOT NULL,
	[SoTien] [decimal](12, 2) NOT NULL,
	[NgayThanhToan] [datetime2](7) NOT NULL,
	[PhuongThuc] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_ThanhToans] PRIMARY KEY CLUSTERED 
(
	[ThanhToanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBaos]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBaos](
	[ThongBaoId] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](1000) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NguoiDungId] [int] NULL,
	[Kenh] [nvarchar](10) NULL,
	[DaDoc] [bit] NOT NULL,
 CONSTRAINT [PK_ThongBaos] PRIMARY KEY CLUSTERED 
(
	[ThongBaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 12/08/2025 4:18:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[Id] [nvarchar](450) NOT NULL,
	[TenVaiTro] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangLuongs] ON 

INSERT [dbo].[BangLuongs] ([BangLuongId], [HlvId], [Thang], [LuongCoBan], [TienHoaHong], [NgayThanhToan], [GhiChu], [NgayTao]) VALUES (28, 2, N'2025-08', CAST(8000000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(N'2025-08-11' AS Date), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[BangLuongs] ([BangLuongId], [HlvId], [Thang], [LuongCoBan], [TienHoaHong], [NgayThanhToan], [GhiChu], [NgayTao]) VALUES (29, 3, N'2025-08', CAST(8000000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BangLuongs] OFF
GO
SET IDENTITY_INSERT [dbo].[BuoiTaps] ON 

INSERT [dbo].[BuoiTaps] ([BuoiTapId], [ThanhVienId], [LopHocId], [ThoiGianVao], [ThoiGianRa], [GhiChu]) VALUES (1, 5, NULL, CAST(N'2025-08-12T12:46:49.3747833' AS DateTime2), NULL, N'Check-in thủ công')
INSERT [dbo].[BuoiTaps] ([BuoiTapId], [ThanhVienId], [LopHocId], [ThoiGianVao], [ThoiGianRa], [GhiChu]) VALUES (2, 5, NULL, CAST(N'2025-08-12T13:16:21.5042592' AS DateTime2), NULL, N'Check-in thủ công')
INSERT [dbo].[BuoiTaps] ([BuoiTapId], [ThanhVienId], [LopHocId], [ThoiGianVao], [ThoiGianRa], [GhiChu]) VALUES (3, 5, NULL, CAST(N'2025-08-12T13:22:11.5631181' AS DateTime2), NULL, N'Check-in thủ công')
SET IDENTITY_INSERT [dbo].[BuoiTaps] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHinhHoaHongs] ON 

INSERT [dbo].[CauHinhHoaHongs] ([CauHinhHoaHongId], [GoiTapId], [PhanTramHoaHong], [NgayTao]) VALUES (1, NULL, CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-08-04T21:08:27.190' AS DateTime))
INSERT [dbo].[CauHinhHoaHongs] ([CauHinhHoaHongId], [GoiTapId], [PhanTramHoaHong], [NgayTao]) VALUES (2, 1, CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-08-04T21:08:27.190' AS DateTime))
INSERT [dbo].[CauHinhHoaHongs] ([CauHinhHoaHongId], [GoiTapId], [PhanTramHoaHong], [NgayTao]) VALUES (3, 2, CAST(12.00 AS Decimal(5, 2)), CAST(N'2025-08-04T21:08:27.190' AS DateTime))
SET IDENTITY_INSERT [dbo].[CauHinhHoaHongs] OFF
GO
SET IDENTITY_INSERT [dbo].[DangKys] ON 

INSERT [dbo].[DangKys] ([DangKyId], [NguoiDungId], [GoiTapId], [LopHocId], [NgayBatDau], [NgayKetThuc], [TrangThai], [NgayTao], [LyDoHuy], [PhiDangKy], [LoaiDangKy], [TrangThaiChiTiet]) VALUES (53, 5, 2, NULL, CAST(N'2025-08-06' AS Date), CAST(N'2026-02-06' AS Date), N'ACTIVE', CAST(N'2025-08-06T00:00:00.0000000' AS DateTime2), NULL, CAST(1200000.00 AS Decimal(12, 2)), N'PACKAGE', N'Thanh toán thành công (Mô phỏng)')
INSERT [dbo].[DangKys] ([DangKyId], [NguoiDungId], [GoiTapId], [LopHocId], [NgayBatDau], [NgayKetThuc], [TrangThai], [NgayTao], [LyDoHuy], [PhiDangKy], [LoaiDangKy], [TrangThaiChiTiet]) VALUES (55, 22, NULL, NULL, CAST(N'2025-08-11' AS Date), CAST(N'2025-08-11' AS Date), N'PENDING_PAYMENT', CAST(N'2025-08-11T17:22:12.7934087' AS DateTime2), NULL, CAST(15000.00 AS Decimal(12, 2)), N'WALKIN_FIXED', NULL)
INSERT [dbo].[DangKys] ([DangKyId], [NguoiDungId], [GoiTapId], [LopHocId], [NgayBatDau], [NgayKetThuc], [TrangThai], [NgayTao], [LyDoHuy], [PhiDangKy], [LoaiDangKy], [TrangThaiChiTiet]) VALUES (56, 23, NULL, NULL, CAST(N'2025-08-11' AS Date), CAST(N'2025-08-11' AS Date), N'PENDING_PAYMENT', CAST(N'2025-08-11T17:23:12.1463760' AS DateTime2), NULL, CAST(15000.00 AS Decimal(12, 2)), N'WALKIN_FIXED', NULL)
SET IDENTITY_INSERT [dbo].[DangKys] OFF
GO
SET IDENTITY_INSERT [dbo].[DiemDanhs] ON 

INSERT [dbo].[DiemDanhs] ([DiemDanhId], [ThanhVienId], [ThoiGian], [KetQuaNhanDang], [AnhMinhChung], [GhiChu], [LichLopId], [ThoiGianCheckIn], [TrangThai], [DoTinCay], [LoaiCheckIn], [ThoiGianCheckOut]) VALUES (5, 26, CAST(N'2025-08-12T14:31:21.2532591' AS DateTime2), 1, NULL, NULL, NULL, CAST(N'2025-08-12T14:31:21.2525675' AS DateTime2), N'Present', NULL, N'FaceRecognition', CAST(N'2025-08-12T14:31:36.0308854' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DiemDanhs] OFF
GO
INSERT [dbo].[ExternalLogins] ([Id], [TaiKhoanId], [Provider], [ProviderKey], [ProviderDisplayName], [NgayTao]) VALUES (N'226a1617-d999-45ea-84c8-6632e425f95e', N'87f6576f-2462-4d6a-a599-701339a2e718', N'Google', N'101986674441844384317', N'Boost Edu', CAST(N'2025-08-03T03:20:03.7587901' AS DateTime2))
INSERT [dbo].[ExternalLogins] ([Id], [TaiKhoanId], [Provider], [ProviderKey], [ProviderDisplayName], [NgayTao]) VALUES (N'd9c958d3-fe1e-453c-bfa0-27802f87b13f', N'2e62e19a-6aba-4aac-9d1b-505be658f884', N'Google', N'105259759656689975352', N'Nguyen pham Hang', CAST(N'2025-08-12T05:07:14.2589985' AS DateTime2))
INSERT [dbo].[ExternalLogins] ([Id], [TaiKhoanId], [Provider], [ProviderKey], [ProviderDisplayName], [NgayTao]) VALUES (N'f094b280-d65f-4b35-b14b-eb0312560e50', N'475b7001-2499-4a41-a858-384c2479c475', N'Google', N'100537544192972207560', N'Nguyễn Đại Hoàng Phúc', CAST(N'2025-08-03T03:32:45.6220289' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[GoiTaps] ON 

INSERT [dbo].[GoiTaps] ([GoiTapId], [TenGoi], [ThoiHanThang], [SoBuoiToiDa], [Gia], [MoTa]) VALUES (1, N'Gói Cơ Bản', 1, 20, CAST(500000.00 AS Decimal(12, 2)), N'Gói tập cơ bản 1 tháng, tối đa 20 buổi')
INSERT [dbo].[GoiTaps] ([GoiTapId], [TenGoi], [ThoiHanThang], [SoBuoiToiDa], [Gia], [MoTa]) VALUES (2, N'Gói Tiêu Chuẩn', 3, 60, CAST(1200000.00 AS Decimal(12, 2)), N'Gói tập 3 tháng, tối đa 60 buổi')
INSERT [dbo].[GoiTaps] ([GoiTapId], [TenGoi], [ThoiHanThang], [SoBuoiToiDa], [Gia], [MoTa]) VALUES (3, N'Gói Premium', 6, NULL, CAST(2000000.00 AS Decimal(12, 2)), N'Gói tập 6 tháng, không giới hạn số buổi')
SET IDENTITY_INSERT [dbo].[GoiTaps] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMais] ON 

INSERT [dbo].[KhuyenMais] ([KhuyenMaiId], [MaCode], [MoTa], [PhanTramGiam], [NgayBatDau], [NgayKetThuc], [KichHoat], [NgayTao]) VALUES (1, N'WELCOME2024', N'Giảm giá 20% cho thành viên mới', 20, CAST(N'2025-07-23' AS Date), CAST(N'2025-10-23' AS Date), 1, CAST(N'2025-08-05T12:16:07.6566667' AS DateTime2))
INSERT [dbo].[KhuyenMais] ([KhuyenMaiId], [MaCode], [MoTa], [PhanTramGiam], [NgayBatDau], [NgayKetThuc], [KichHoat], [NgayTao]) VALUES (2, N'SUMMER2024', N'Khuyến mãi mùa hè giảm 15%', 15, CAST(N'2025-07-23' AS Date), CAST(N'2025-09-23' AS Date), 1, CAST(N'2025-08-05T12:16:07.0000000' AS DateTime2))
INSERT [dbo].[KhuyenMais] ([KhuyenMaiId], [MaCode], [MoTa], [PhanTramGiam], [NgayBatDau], [NgayKetThuc], [KichHoat], [NgayTao]) VALUES (3, N'TRUNGTHU2025', N'Khuyến mãi nhân dịp trung thu 2025', 15, CAST(N'2025-08-30' AS Date), CAST(N'2025-09-30' AS Date), 1, CAST(N'2025-08-05T15:07:34.7686222' AS DateTime2))
SET IDENTITY_INSERT [dbo].[KhuyenMais] OFF
GO
SET IDENTITY_INSERT [dbo].[LopHocs] ON 

INSERT [dbo].[LopHocs] ([LopHocId], [TenLop], [HlvId], [SucChua], [GioBatDau], [GioKetThuc], [ThuTrongTuan], [GiaTuyChinh], [TrangThai], [MoTa], [ThoiLuong], [NgayBatDauKhoa], [NgayKetThucKhoa], [LoaiDangKy]) VALUES (1, N'Yoga Buổi Sáng', 2, 15, CAST(N'07:00:00' AS Time), CAST(N'07:30:00' AS Time), N'Thứ 3, Thứ 5, Thứ 7', CAST(250000.00 AS Decimal(12, 2)), N'OPEN', N'Lớp yoga thư giãn buổi sáng, giúp cải thiện sức khỏe và tinh thần', 60, NULL, NULL, N'CLASS')
INSERT [dbo].[LopHocs] ([LopHocId], [TenLop], [HlvId], [SucChua], [GioBatDau], [GioKetThuc], [ThuTrongTuan], [GiaTuyChinh], [TrangThai], [MoTa], [ThoiLuong], [NgayBatDauKhoa], [NgayKetThucKhoa], [LoaiDangKy]) VALUES (2, N'Gym Tăng Cơ', 3, 10, CAST(N'18:00:00' AS Time), CAST(N'19:30:00' AS Time), N'Thứ 3, Thứ 5, Thứ 7', CAST(300000.00 AS Decimal(12, 2)), N'OPEN', N'Lớp tập gym tăng cơ bắp với huấn luyện viên chuyên nghiệp', 90, NULL, NULL, N'CLASS')
INSERT [dbo].[LopHocs] ([LopHocId], [TenLop], [HlvId], [SucChua], [GioBatDau], [GioKetThuc], [ThuTrongTuan], [GiaTuyChinh], [TrangThai], [MoTa], [ThoiLuong], [NgayBatDauKhoa], [NgayKetThucKhoa], [LoaiDangKy]) VALUES (3, N'Cardio', 2, 20, CAST(N'07:30:00' AS Time), CAST(N'08:30:00' AS Time), N'Thứ 2, Thứ 4, Thứ 6', CAST(150000.00 AS Decimal(12, 2)), N'OPEN', N'Lớp cardio giảm cân buổi tối, phù hợp cho mọi lứa tuổi', 60, NULL, NULL, N'CLASS')
SET IDENTITY_INSERT [dbo].[LopHocs] OFF
GO
SET IDENTITY_INSERT [dbo].[MauMats] ON 

SET IDENTITY_INSERT [dbo].[MauMats] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungs] ON 

INSERT [dbo].[NguoiDungs] ([NguoiDungId], [LoaiNguoiDung], [Ho], [Ten], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [NgayThamGia], [TrangThai], [AnhDaiDien], [NgayTao]) VALUES (1, N'ADMIN', N'Nguyễn', N'Văn Admin', N'Nam', CAST(N'1990-01-01' AS Date), N'0123456789', N'admin@gym.com', CAST(N'2025-07-23' AS Date), N'ACTIVE', N'/uploads/avatars/avatar_1_20250812121639.png', CAST(N'2025-07-23T21:00:55.2232990' AS DateTime2))
INSERT [dbo].[NguoiDungs] ([NguoiDungId], [LoaiNguoiDung], [Ho], [Ten], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [NgayThamGia], [TrangThai], [AnhDaiDien], [NgayTao]) VALUES (2, N'HLV', N'Trần', N'Thị Hương', N'Nữ', CAST(N'1985-05-15' AS Date), N'0987654321', N'huong.trainer@gym.com', CAST(N'2025-07-23' AS Date), N'ACTIVE', N'/uploads/avatars/avatar_2_20250812121700.png', CAST(N'2025-07-23T21:00:55.2238021' AS DateTime2))
INSERT [dbo].[NguoiDungs] ([NguoiDungId], [LoaiNguoiDung], [Ho], [Ten], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [NgayThamGia], [TrangThai], [AnhDaiDien], [NgayTao]) VALUES (3, N'HLV', N'Lê', N'Minh Tuấn', N'Nam', CAST(N'1988-08-20' AS Date), N'0912345678', N'tuan.trainer@gym.com', CAST(N'2025-07-23' AS Date), N'ACTIVE', NULL, CAST(N'2025-07-23T21:00:55.2238044' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NguoiDungs] OFF
GO
INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [Email], [MatKhauHash], [Salt], [NguoiDungId], [KichHoat], [EmailXacNhan], [NgayTao], [LanDangNhapCuoi]) VALUES (N'0fb1a426-d621-43c7-b51a-7989053825c0', N'C123', N'', N'BulNFy6euYPIeh09o7J/1S8X5OnwQgjGvuKSMI8/hMs=', N'b2kJyii5qsKzRnZkeOG3g9KVXwdUwfEn/VB2gkRWUm8=', 28, 1, 1, CAST(N'2025-08-12T07:40:58.6293377' AS DateTime2), NULL)
INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [Email], [MatKhauHash], [Salt], [NguoiDungId], [KichHoat], [EmailXacNhan], [NgayTao], [LanDangNhapCuoi]) VALUES (N'2e62e19a-6aba-4aac-9d1b-505be658f884', N'hangnguyenpham2424_40970', N'hangnguyenpham2424@gmail.com', N'lX+2Fu2fds2EErf3Bmp30CxWnpoNK8po9w8uAYxP3h0=', N'FC0dhZ5LYP3eDKtqgt5ZtgDVKPE7IHg9fTUvg3gNdzA=', 5, 1, 1, CAST(N'2025-08-12T05:07:14.0971108' AS DateTime2), NULL)
INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [Email], [MatKhauHash], [Salt], [NguoiDungId], [KichHoat], [EmailXacNhan], [NgayTao], [LanDangNhapCuoi]) VALUES (N'475b7001-2499-4a41-a858-384c2479c475', N'nguyendaihoangphuc24_53849', N'nguyendaihoangphuc24@gmail.com', N'XUD1RsS7GLjzT4CbscbOD7IFkVOgqreVif0F2XQu2Rw=', N'EaYAVgwsnA+AyxPc9ath7fAI5LBb/8RtoTBBMRTbOaI=', NULL, 1, 1, CAST(N'2025-08-03T03:32:45.3849412' AS DateTime2), NULL)
GO
INSERT [dbo].[TaiKhoanVaiTros] ([Id], [TaiKhoanId], [VaiTroId], [NgayGan]) VALUES (N'0ae7c9cc-4a8e-466f-847e-8d9eeb5b07e9', N'cc17ac2e-a3bf-49e5-b773-b6f99590f506', N'4e2f1ee2-cefa-44f1-a61f-acd5e752a493', CAST(N'2025-07-23T14:00:55.8754107' AS DateTime2))
INSERT [dbo].[TaiKhoanVaiTros] ([Id], [TaiKhoanId], [VaiTroId], [NgayGan]) VALUES (N'0bcb7e00-00a3-4c16-ae6d-213897e1f115', N'87f6576f-2462-4d6a-a599-701339a2e718', N'4e2f1ee2-cefa-44f1-a61f-acd5e752a493', CAST(N'2025-08-03T03:20:03.7230037' AS DateTime2))
INSERT [dbo].[TaiKhoanVaiTros] ([Id], [TaiKhoanId], [VaiTroId], [NgayGan]) VALUES (N'130c66f7-c808-427e-9ab1-929cda7f8ca0', N'2e62e19a-6aba-4aac-9d1b-505be658f884', N'4e2f1ee2-cefa-44f1-a61f-acd5e752a493', CAST(N'2025-08-12T05:07:14.2103636' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[TinTucs] ON 

SET IDENTITY_INSERT [dbo].[TinTucs] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToanGateways] ON 

INSERT [dbo].[ThanhToanGateways] ([GatewayId], [ThanhToanId], [GatewayTen], [GatewayTransId], [GatewayOrderId], [GatewayAmount], [GatewayRespCode], [GatewayMessage], [ThoiGianCallback]) VALUES (80, 74, N'VNPAY', N'15119290', N'638900932163247894', CAST(1200000.00 AS Decimal(12, 2)), N'00', N'Thanh toán thành công (Mô phỏng)', CAST(N'2025-08-06T16:07:57.3597765' AS DateTime2))
INSERT [dbo].[ThanhToanGateways] ([GatewayId], [ThanhToanId], [GatewayTen], [GatewayTransId], [GatewayOrderId], [GatewayAmount], [GatewayRespCode], [GatewayMessage], [ThoiGianCallback]) VALUES (81, 75, N'VNPAY', N'15119296', N'638900933187050690', CAST(400000.00 AS Decimal(12, 2)), N'00', N'Thanh toán thành công (Mô phỏng)', CAST(N'2025-08-06T16:09:09.2725651' AS DateTime2))
INSERT [dbo].[ThanhToanGateways] ([GatewayId], [ThanhToanId], [GatewayTen], [GatewayTransId], [GatewayOrderId], [GatewayAmount], [GatewayRespCode], [GatewayMessage], [ThoiGianCallback]) VALUES (82, 76, N'VNPAY', N'0', N'638900936136213139', CAST(400000.00 AS Decimal(12, 2)), N'24', N'Thanh toán thành công (Mô phỏng)', CAST(N'2025-08-06T16:13:46.8522256' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ThanhToanGateways] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToans] ON 

INSERT [dbo].[ThanhToans] ([ThanhToanId], [DangKyId], [SoTien], [NgayThanhToan], [PhuongThuc], [TrangThai], [GhiChu]) VALUES (74, 53, CAST(1200000.00 AS Decimal(12, 2)), CAST(N'2025-08-06T16:06:56.1714886' AS DateTime2), N'VNPAY', N'SUCCESS', N'Thanh toán đăng ký gói tập - Người dùng: 5, Gói: 2, Thời hạn: 3 tháng')
INSERT [dbo].[ThanhToans] ([ThanhToanId], [DangKyId], [SoTien], [NgayThanhToan], [PhuongThuc], [TrangThai], [GhiChu]) VALUES (75, 53, CAST(400000.00 AS Decimal(12, 2)), CAST(N'2025-08-06T16:08:38.6515539' AS DateTime2), N'VNPAY', N'SUCCESS', N'Gia hạn gói tập Gói Tiêu Chuẩn - 1 tháng')
INSERT [dbo].[ThanhToans] ([ThanhToanId], [DangKyId], [SoTien], [NgayThanhToan], [PhuongThuc], [TrangThai], [GhiChu]) VALUES (76, 53, CAST(400000.00 AS Decimal(12, 2)), CAST(N'2025-08-06T16:13:33.3485617' AS DateTime2), N'VNPAY', N'SUCCESS', N'Gia hạn gói tập Gói Tiêu Chuẩn - 1 tháng')
SET IDENTITY_INSERT [dbo].[ThanhToans] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongBaos] ON 

INSERT [dbo].[ThongBaos] ([ThongBaoId], [TieuDe], [NoiDung], [NgayTao], [NguoiDungId], [Kenh], [DaDoc]) VALUES (1, N'Đăng ký gói tập thành công', N'Bạn đã đăng ký thành công gói Gói Tiêu Chuẩn. Thời hạn: 24/07/2025 - 24/10/2025', CAST(N'2025-07-24T21:43:58.7141706' AS DateTime2), 5, N'APP', 1)
INSERT [dbo].[ThongBaos] ([ThongBaoId], [TieuDe], [NoiDung], [NgayTao], [NguoiDungId], [Kenh], [DaDoc]) VALUES (2, N'Đăng ký lớp học thành công', N'Bạn đã đăng ký thành công lớp Gym Tăng Cơ. Thời hạn: 01/08/2025 - 08/10/2025', CAST(N'2025-07-24T22:18:35.6310591' AS DateTime2), 5, N'APP', 1)
INSERT [dbo].[ThongBaos] ([ThongBaoId], [TieuDe], [NoiDung], [NgayTao], [NguoiDungId], [Kenh], [DaDoc]) VALUES (3, N'Đăng ký gói tập thành công', N'Bạn đã đăng ký thành công gói Gói Premium. Thời hạn: 25/07/2025 - 25/01/2026', CAST(N'2025-07-25T10:28:00.8678818' AS DateTime2), 5, N'APP', 1)
SET IDENTITY_INSERT [dbo].[ThongBaos] OFF
GO
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro], [MoTa], [NgayTao]) VALUES (N'0820e713-29cc-40ec-ac4f-3a05717c8b24', N'Admin', N'Quản trị viên hệ thống (bao gồm Manager và Staff)', CAST(N'2025-07-23T14:00:55.0608115' AS DateTime2))
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro], [MoTa], [NgayTao]) VALUES (N'4828da0c-733a-4aec-9a18-574b5978e160', N'Trainer', N'Huấn luyện viên', CAST(N'2025-07-23T14:00:55.1231345' AS DateTime2))
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro], [MoTa], [NgayTao]) VALUES (N'4e2f1ee2-cefa-44f1-a61f-acd5e752a493', N'Member', N'Thành viên', CAST(N'2025-07-23T14:00:55.1234029' AS DateTime2))
GO
ALTER TABLE [dbo].[BangLuongs] ADD  DEFAULT ((0.0)) FOR [TienHoaHong]
GO
ALTER TABLE [dbo].[BangLuongs] ADD  DEFAULT (sysdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (N'BOOKED') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('0001-01-01') FOR [NgayDat]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [NgayTao]
GO
ALTER TABLE [dbo].[CauHinhHoaHongs] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DangKys] ADD  DEFAULT (N'ACTIVE') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DangKys] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DangKys] ADD  DEFAULT ('PACKAGE') FOR [LoaiDangKy]
GO
ALTER TABLE [dbo].[DiemDanhs] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[DiemDanhs] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ThoiGianCheckIn]
GO
ALTER TABLE [dbo].[DiemDanhs] ADD  DEFAULT (N'') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ExternalLogins] ADD  DEFAULT (getutcdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhuyenMais] ADD  DEFAULT (CONVERT([bit],(1))) FOR [KichHoat]
GO
ALTER TABLE [dbo].[KhuyenMais] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichLops] ADD  DEFAULT (N'SCHEDULED') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichLops] ADD  DEFAULT ((0)) FOR [SoLuongDaDat]
GO
ALTER TABLE [dbo].[LichSuAnhs] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[LopHocs] ADD  DEFAULT (N'OPEN') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LopHocs] ADD  DEFAULT ('CLASS') FOR [LoaiDangKy]
GO
ALTER TABLE [dbo].[MauMats] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[MauMats] ADD  DEFAULT (N'ArcFace') FOR [ThuatToan]
GO
ALTER TABLE [dbo].[NguoiDungs] ADD  DEFAULT (getdate()) FOR [NgayThamGia]
GO
ALTER TABLE [dbo].[NguoiDungs] ADD  DEFAULT (N'ACTIVE') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (CONVERT([bit],(1))) FOR [KichHoat]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getutcdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoanVaiTros] ADD  DEFAULT (getutcdate()) FOR [NgayGan]
GO
ALTER TABLE [dbo].[TinTucs] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TinTucs] ADD  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[TinTucs] ADD  DEFAULT ('DRAFT') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TinTucs] ADD  DEFAULT ((0)) FOR [NoiBat]
GO
ALTER TABLE [dbo].[ThanhToanGateways] ADD  DEFAULT (N'VNPAY') FOR [GatewayTen]
GO
ALTER TABLE [dbo].[ThanhToans] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[ThanhToans] ADD  DEFAULT (N'PENDING') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThongBaos] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThongBaos] ADD  DEFAULT (CONVERT([bit],(0))) FOR [DaDoc]
GO
ALTER TABLE [dbo].[VaiTro] ADD  DEFAULT (getutcdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BangLuongs]  WITH CHECK ADD  CONSTRAINT [FK_BangLuongs_NguoiDungs_HlvId] FOREIGN KEY([HlvId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
GO
ALTER TABLE [dbo].[BangLuongs] CHECK CONSTRAINT [FK_BangLuongs_NguoiDungs_HlvId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_LichLops_LichLopId] FOREIGN KEY([LichLopId])
REFERENCES [dbo].[LichLops] ([LichLopId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_LichLops_LichLopId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_LopHocs_LopHocId] FOREIGN KEY([LopHocId])
REFERENCES [dbo].[LopHocs] ([LopHocId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_LopHocs_LopHocId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_NguoiDungs_ThanhVienId] FOREIGN KEY([ThanhVienId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_NguoiDungs_ThanhVienId]
GO
ALTER TABLE [dbo].[BuoiHlvs]  WITH CHECK ADD  CONSTRAINT [FK_BuoiHlvs_LopHocs_LopHocId] FOREIGN KEY([LopHocId])
REFERENCES [dbo].[LopHocs] ([LopHocId])
GO
ALTER TABLE [dbo].[BuoiHlvs] CHECK CONSTRAINT [FK_BuoiHlvs_LopHocs_LopHocId]
GO
ALTER TABLE [dbo].[BuoiHlvs]  WITH CHECK ADD  CONSTRAINT [FK_BuoiHlvs_NguoiDungs_HlvId] FOREIGN KEY([HlvId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
GO
ALTER TABLE [dbo].[BuoiHlvs] CHECK CONSTRAINT [FK_BuoiHlvs_NguoiDungs_HlvId]
GO
ALTER TABLE [dbo].[BuoiHlvs]  WITH CHECK ADD  CONSTRAINT [FK_BuoiHlvs_NguoiDungs_ThanhVienId] FOREIGN KEY([ThanhVienId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
GO
ALTER TABLE [dbo].[BuoiHlvs] CHECK CONSTRAINT [FK_BuoiHlvs_NguoiDungs_ThanhVienId]
GO
ALTER TABLE [dbo].[BuoiTaps]  WITH CHECK ADD  CONSTRAINT [FK_BuoiTaps_LopHocs_LopHocId] FOREIGN KEY([LopHocId])
REFERENCES [dbo].[LopHocs] ([LopHocId])
GO
ALTER TABLE [dbo].[BuoiTaps] CHECK CONSTRAINT [FK_BuoiTaps_LopHocs_LopHocId]
GO
ALTER TABLE [dbo].[BuoiTaps]  WITH CHECK ADD  CONSTRAINT [FK_BuoiTaps_NguoiDungs_ThanhVienId] FOREIGN KEY([ThanhVienId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
GO
ALTER TABLE [dbo].[BuoiTaps] CHECK CONSTRAINT [FK_BuoiTaps_NguoiDungs_ThanhVienId]
GO
ALTER TABLE [dbo].[DangKys]  WITH CHECK ADD  CONSTRAINT [FK_DangKys_GoiTaps_GoiTapId] FOREIGN KEY([GoiTapId])
REFERENCES [dbo].[GoiTaps] ([GoiTapId])
GO
ALTER TABLE [dbo].[DangKys] CHECK CONSTRAINT [FK_DangKys_GoiTaps_GoiTapId]
GO
ALTER TABLE [dbo].[DangKys]  WITH CHECK ADD  CONSTRAINT [FK_DangKys_LopHocs_LopHocId] FOREIGN KEY([LopHocId])
REFERENCES [dbo].[LopHocs] ([LopHocId])
GO
ALTER TABLE [dbo].[DangKys] CHECK CONSTRAINT [FK_DangKys_LopHocs_LopHocId]
GO
ALTER TABLE [dbo].[DangKys]  WITH CHECK ADD  CONSTRAINT [FK_DangKys_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKys] CHECK CONSTRAINT [FK_DangKys_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[DiemDanhs]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanhs_LichLops_LichLopId] FOREIGN KEY([LichLopId])
REFERENCES [dbo].[LichLops] ([LichLopId])
GO
ALTER TABLE [dbo].[DiemDanhs] CHECK CONSTRAINT [FK_DiemDanhs_LichLops_LichLopId]
GO
ALTER TABLE [dbo].[DiemDanhs]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanhs_NguoiDungs_ThanhVienId] FOREIGN KEY([ThanhVienId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
GO
ALTER TABLE [dbo].[DiemDanhs] CHECK CONSTRAINT [FK_DiemDanhs_NguoiDungs_ThanhVienId]
GO
ALTER TABLE [dbo].[ExternalLogins]  WITH CHECK ADD  CONSTRAINT [FK_ExternalLogins_TaiKhoan_TaiKhoanId] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaiKhoan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExternalLogins] CHECK CONSTRAINT [FK_ExternalLogins_TaiKhoan_TaiKhoanId]
GO
ALTER TABLE [dbo].[KhuyenMaiUsages]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMaiUsages_DangKys_DangKyId] FOREIGN KEY([DangKyId])
REFERENCES [dbo].[DangKys] ([DangKyId])
GO
ALTER TABLE [dbo].[KhuyenMaiUsages] CHECK CONSTRAINT [FK_KhuyenMaiUsages_DangKys_DangKyId]
GO
ALTER TABLE [dbo].[KhuyenMaiUsages]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMaiUsages_KhuyenMais_KhuyenMaiId] FOREIGN KEY([KhuyenMaiId])
REFERENCES [dbo].[KhuyenMais] ([KhuyenMaiId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhuyenMaiUsages] CHECK CONSTRAINT [FK_KhuyenMaiUsages_KhuyenMais_KhuyenMaiId]
GO
ALTER TABLE [dbo].[KhuyenMaiUsages]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMaiUsages_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhuyenMaiUsages] CHECK CONSTRAINT [FK_KhuyenMaiUsages_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[KhuyenMaiUsages]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMaiUsages_ThanhToans_ThanhToanId] FOREIGN KEY([ThanhToanId])
REFERENCES [dbo].[ThanhToans] ([ThanhToanId])
GO
ALTER TABLE [dbo].[KhuyenMaiUsages] CHECK CONSTRAINT [FK_KhuyenMaiUsages_ThanhToans_ThanhToanId]
GO
ALTER TABLE [dbo].[LichLops]  WITH CHECK ADD  CONSTRAINT [FK_LichLops_LopHocs_LopHocId] FOREIGN KEY([LopHocId])
REFERENCES [dbo].[LopHocs] ([LopHocId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichLops] CHECK CONSTRAINT [FK_LichLops_LopHocs_LopHocId]
GO
ALTER TABLE [dbo].[LichSuAnhs]  WITH CHECK ADD  CONSTRAINT [FK_LichSuAnhs_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
GO
ALTER TABLE [dbo].[LichSuAnhs] CHECK CONSTRAINT [FK_LichSuAnhs_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[LopHocs]  WITH CHECK ADD  CONSTRAINT [FK_LopHocs_NguoiDungs_HlvId] FOREIGN KEY([HlvId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
GO
ALTER TABLE [dbo].[LopHocs] CHECK CONSTRAINT [FK_LopHocs_NguoiDungs_HlvId]
GO
ALTER TABLE [dbo].[MauMats]  WITH CHECK ADD  CONSTRAINT [FK_MauMats_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MauMats] CHECK CONSTRAINT [FK_MauMats_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[TaiKhoanVaiTros]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoanVaiTros_TaiKhoan_TaiKhoanId] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaiKhoan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoanVaiTros] CHECK CONSTRAINT [FK_TaiKhoanVaiTros_TaiKhoan_TaiKhoanId]
GO
ALTER TABLE [dbo].[TaiKhoanVaiTros]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoanVaiTros_VaiTro_VaiTroId] FOREIGN KEY([VaiTroId])
REFERENCES [dbo].[VaiTro] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoanVaiTros] CHECK CONSTRAINT [FK_TaiKhoanVaiTros_VaiTro_VaiTroId]
GO
ALTER TABLE [dbo].[TinTucs]  WITH CHECK ADD  CONSTRAINT [FK_TinTucs_NguoiDungs_TacGiaId] FOREIGN KEY([TacGiaId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TinTucs] CHECK CONSTRAINT [FK_TinTucs_NguoiDungs_TacGiaId]
GO
ALTER TABLE [dbo].[ThanhToanGateways]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToanGateways_ThanhToans_ThanhToanId] FOREIGN KEY([ThanhToanId])
REFERENCES [dbo].[ThanhToans] ([ThanhToanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToanGateways] CHECK CONSTRAINT [FK_ThanhToanGateways_ThanhToans_ThanhToanId]
GO
ALTER TABLE [dbo].[ThanhToans]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToans_DangKys_DangKyId] FOREIGN KEY([DangKyId])
REFERENCES [dbo].[DangKys] ([DangKyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToans] CHECK CONSTRAINT [FK_ThanhToans_DangKys_DangKyId]
GO
ALTER TABLE [dbo].[ThongBaos]  WITH CHECK ADD  CONSTRAINT [FK_ThongBaos_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([NguoiDungId])
GO
ALTER TABLE [dbo].[ThongBaos] CHECK CONSTRAINT [FK_ThongBaos_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[CauHinhHoaHongs]  WITH CHECK ADD CHECK  (([PhanTramHoaHong]>=(0) AND [PhanTramHoaHong]<=(100)))
GO
ALTER TABLE [dbo].[LopHocs]  WITH CHECK ADD  CONSTRAINT [CK_LopHocs_NgayKhoa] CHECK  (([NgayKetThucKhoa]>=[NgayBatDauKhoa] OR [NgayKetThucKhoa] IS NULL OR [NgayBatDauKhoa] IS NULL))
GO
ALTER TABLE [dbo].[LopHocs] CHECK CONSTRAINT [CK_LopHocs_NgayKhoa]
GO
USE [master]
GO
